.mainImg {
  -webkit-filter: drop-shadow(5px 5px 5px #222);
  filter: drop-shadow(5px 5px 5px #222); }

.mainP {
  margin: 0px 0px 50px 70px;
  text-align: left;
  line-height: 30px;
  text-shadow: 1px 1px #302c2c;
  color: #d3c9ad;
  font-weight: 100;
  font-size: 1.125rem;
  max-width: 40%;
  font-family: 'Titillium Web'; }

.bodyIndex {
  background-image: url(../images/The-Conjuring-backgrounImg.jpeg);
  background-attachment: fixed; }

/* VISTA MOBILE */
@media only screen and (max-width: 768px) {
  .mainP {
    line-height: 20px;
    margin-left: 6%; }
  .bodyIndex {
    background-image: url(../images/The-Conjuring-backgrounImg-mobile.jpg);
    background-attachment: fixed;
    background-position: center right; } }

.bodyWarrens {
  background-color: #161515; }

.polaroidPic {
  background-color: #e7ddcf;
  height: 350px;
  border-radius: 10px;
  box-shadow: 3px 5px 15px #333;
  filter: sepia(100%);
  transform: rotate(5deg);
  text-align: center; }

.imgWarrens {
  width: 400px;
  height: auto;
  margin-top: 5%; }

div div h2 {
  background-color: #edaa00; }

/* VISTA MOBILE */
@media only screen and (max-width: 768px) {
  .polaroidPic {
    height: 200px; }
  .imgWarrens {
    width: 240px; }
  .carousel {
    margin-bottom: 18%; } }

.bodyMovies {
  background-color: black; }

.flexColumn {
  display: flex;
  flex-direction: column; }

.timeline__card, .timeline__card--right, .timeline__card--left {
  display: flex;
  flex-direction: row;
  width: 70%;
  height: 140px;
  position: relative;
  margin: 16px 0; }

.timeline__card--right {
  align-self: flex-end;
  padding: 10px 100px 10px 10px;
  margin-left: initial; }

.timeline__card--left {
  align-self: flex-start;
  padding: 10px 10px 10px 100px;
  margin-right: initial; }

.cardinside, .cardinside__left, .cardinside__right {
  background-color: #fbfbfb;
  height: 120px; }

.cardinside__left {
  padding: 10px 30px 10px 60px;
  border-radius: 100px 20px 20px 100px;
  left: 70px;
  right: -30px;
  width: 100%; }

.cardinside__right {
  padding: 10px 60px 10px 30px;
  border-radius: 20px 100px 100px 20px;
  left: -30px;
  right: 70px;
  width: 100%;
  align-self: flex-start; }

.year__movie, .year__movie--left, .year__movie--right {
  text-align: center;
  font-family: "adobe-garamond";
  color: #edf1f1;
  font-size: 2.8125rem;
  text-shadow: 1px 2px black; }

.year__movie--left {
  transform: rotate(-90deg); }

.year__movie--right {
  transform: rotate(90deg); }

.cardTitle {
  color: #bfa41c;
  text-align: center;
  font-size: 1.25rem;
  font-family: "adobe-garamond";
  text-shadow: 1px 1px #3a3737; }

.cardP {
  font-family: 'titillium';
  font-weight: 500; }

.movie__icon, .movie__icon--right, .movie__icon--left {
  position: absolute;
  background-size: cover;
  width: 140px;
  height: 120px;
  background-position: center top; }

.movie__icon--right {
  right: -6%;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px; }

.movie__icon--left {
  left: -6%;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px; }

.cardtitle__and__text, .cardtitle__and__text--left, .cardtitle__and__text--right {
  display: flex;
  flex-direction: column; }

.cardtitle__and__text--left {
  padding-right: 70px; }

.cardtitle__and__text--right {
  padding-left: 70px; }

.socialMediaFixedIcons {
  z-index: 1000; }

.cardSepia {
  filter: sepia(100%); }

.bodyDemons {
  background: #edaa00;
  background: linear-gradient(180deg, #edaa00 0%, #000203 100%); }

.cardSepia:hover {
  transition: 1s linear all;
  filter: sepia(0%);
  transform: scale(1.03); }

.demonCardTitle {
  color: #edaa00;
  font-size: 1.56rem;
  margin-top: 1%;
  text-shadow: 1px 1px #524b4b;
  font-family: 'Titillium'; }

.demonCardP {
  margin: 2%;
  font-family: 'titillium';
  font-weight: 500; }

/* VISTA MOBILE */
@media only screen and (max-width: 811px) {
  .cardSepia {
    filter: sepia(0%); } }

.contact {
  padding: 4%;
  height: auto; }

.cajaNaranja {
  background: #edaa00;
  padding: 4%;
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem; }

.contact-info {
  margin-top: 10%; }

.contact-info img {
  margin-bottom: 15%; }

.contact-info h2 {
  margin-bottom: 10%; }

.cajaBlanca {
  background: #fff;
  padding: 3%;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem; }

.contact-form label {
  font-weight: 600; }

.contact-form button {
  background: #25274d;
  color: #fff;
  font-weight: 600;
  width: 25%; }

.contact-form button:focus {
  box-shadow: none; }

/* VISTA MOBILE */
@media only screen and (max-width: 810px) {
  .cajaNaranja {
    border-top-right-radius: 0.5rem;
    border-bottom-left-radius: 0rem; }
  .cajaBlanca {
    border-bottom-left-radius: 0.5rem;
    border-top-right-radius: 0rem; } }

.socialMediaFixedIcons {
  z-index: 1000; }

.iconsSM {
  height: 60px;
  width: auto; }

.imageNavSize {
  width: 110px;
  display: inline-block; }

.footerStyle {
  background-color: black; }

.titillium {
  font-family: 'Titillium Web'; }

nav {
  position: sticky;
  top: 0;
  background-color: #2e2d2d;
  height: 50px;
  z-index: 100; }

.socialMediaFixedIcons {
  z-index: 1000; }
