.bodyMovies {
    background-color: black;   
}
.flexColumn {
    display: flex;
    flex-direction: column;
}
.timeline__card {
    display: flex;
    flex-direction: row;
    width: 70%;
    height: 140px;
    position: relative;
    margin: 16px 0;
}
.timeline__card--right {
    @extend .timeline__card;
    align-self: flex-end;
    padding: 10px 100px 10px 10px;
    margin-left: initial;
}
.timeline__card--left {
    @extend .timeline__card;
    align-self: flex-start;
    padding: 10px 10px 10px 100px;
    margin-right: initial;
}
.cardinside {
    background-color: rgb(251, 251, 251);
    height: 120px;
}
.cardinside__left {
    @extend .cardinside;
    padding: 10px 30px 10px 60px;
    border-radius: 100px 20px 20px 100px;
    left: 70px;
    right: -30px;
    width: 100%;
    
}
.cardinside__right {
    @extend .cardinside;
    padding: 10px 60px 10px 30px;
    border-radius: 20px 100px 100px 20px;
    left: -30px;
    right: 70px;
    width: 100%; 
    align-self: flex-start;
}
.year__movie {
    text-align: center;
    font-family: "adobe-garamond";
    color: rgb(237, 241, 241);
    font-size: 2.8125rem;
    text-shadow:  1px 2px black   
}
.year__movie--left {
    @extend .year__movie;
    transform: rotate(-90deg);
}
.year__movie--right {
    @extend .year__movie;
    transform: rotate(90deg);
}
.cardTitle {
    color: #bfa41c;
    text-align: center;
    font-size: 1.25rem;
    font-family: "adobe-garamond";
    text-shadow:  1px 1px rgb(58, 55, 55)
}
.cardP {
    font-family: 'titillium';
    font-weight: 500;
}
.movie__icon {
    position: absolute;
    background-size: cover;
    width: 140px;
    height: 120px;
    background-position: center top;  
}
.movie__icon--right {
    @extend .movie__icon;
    right: -6%;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
.movie__icon--left {
    @extend .movie__icon;
    left: -6%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.cardtitle__and__text {
    display: flex;
    flex-direction: column;
    
}
.cardtitle__and__text--left {
    @extend .cardtitle__and__text;
    padding-right: 70px;
}
.cardtitle__and__text--right {
    @extend .cardtitle__and__text;
    padding-left: 70px;
}
.socialMediaFixedIcons {
    z-index: 1000;
}