.mainImg {
    -webkit-filter: drop-shadow(5px 5px 5px #222);
  filter: drop-shadow(5px 5px 5px #222);
}
.mainP {
    margin: 0px 0px 50px 70px;
    text-align: left;
    line-height: 30px;
    text-shadow:  1px 1px rgb(48, 44, 44);
    color: #d3c9ad;
    font-weight: 100;
    font-size: 18px;
    max-width: 40%;
    font-family: 'Titillium Web';
}
.bodyIndex {
    background-image: url(../images/The-Conjuring-backgrounImg.jpeg);
    background-attachment: fixed;
}

/* VISTA MOBILE */
@media only screen and ( max-width: 768px)  {
    .mainP {
        line-height: 20px;
        margin-left: 6%;
    }
    .bodyIndex {
        background-image: url(../images/The-Conjuring-backgrounImg-mobile.jpg);
        background-attachment: fixed;
        background-position: center right;
    }
}