
.contact{
    padding: 4%;
    height: auto;
}
.cajaNaranja{
    background: $colorInstitucional;
    padding: 4%;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
}
.contact-info{
    margin-top:10%;
}
.contact-info img{
    margin-bottom: 15%;
}
.contact-info h2{
    margin-bottom: 10%;
}
.cajaBlanca{
    background: #fff;
    padding: 3%;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}
.contact-form label{
    font-weight:600;
}
.contact-form button{
    background: #25274d;
    color: #fff;
    font-weight: 600;
    width: 25%;
}
.contact-form button:focus{
    box-shadow:none;
}
/* VISTA MOBILE */
@media only screen and ( max-width: 810px)  {
    .cajaNaranja{
        border-top-right-radius: 0.5rem;
        border-bottom-left-radius: 0rem;
    }
    .cajaBlanca{
        border-bottom-left-radius: 0.5rem;
        border-top-right-radius: 0rem;
    }
}